<!-- <div class="container">
  <div class="context">
    <div class="wrapper">
      <div class="wrapper-container">
        <div class="mobile-app">
          <h3>Download an app</h3>
          <p>With an app it's pretty much easier to order yet we still working on it</p>
          <div class="app-markets">
            <div class="app-store">
              <img class="apple" alt="apple" src="https://www.straus.md/get-app-store.png">
            </div>
            <div class="google-play">
              <img alt="android" src="https://www.straus.md/get-google-play.png">
            </div>
          </div>
          <div class="insta">
            <p class="insta-p">Our social</p>
            <a href="https://www.instagram.com/kolodxxv/">
              <img alt="icon" class="insta-icon" src="https://www.straus.md/icons/icon-instagram.svg">
            </a>
          </div>
        </div>
        <div class="info">
          <h2>Information</h2>
          <span>About us</span>
          <span>Partnership</span>
          <span>Job Offers</span>
        </div>
      </div>
      <div class="contacts-container">
        <div class="docs">
          <h2 id="docs">Documents</h2>
          <a class="agree" href="#">Agreement</a>
          <a class="deliv" href="#">Delivery</a>
        </div>
        <div class="contacts">
          <h2 id="contacts">Contacts</h2>
          <a class="email" href="mailto:kolodxxv@gmail.com">kolodxxv@gmail.com</a>
          <a class="mobile" href="tel:067605756">+37367605756</a>
        </div>
      </div>
      </div>
  </div>
</div>
 -->

 <div class="container">
  <div class="context">
    <div class="wrapper">
    
      <div class="copyrights">
        <p class="co">©2023<span class="co-name">KOLODXXV</span></p>
      </div>
      <div class="insta">
        <p class="insta-p">Social:</p>
        <a href="https://www.instagram.com/kolodxxv/" target="_blank">
          <img alt="icon" class="insta-icon" src="https://www.straus.md/icons/icon-instagram.svg">
        </a>
        <a href="https://www.facebook.com/slaw1ck/" target="_blank">
          <img alt="icon" class="fb-icon" src="https://th.bing.com/th/id/R.6565c353038b74ed44310dee563736ec?rik=vSsFNtc9CgHfZA&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_432365.png&ehk=dZ6vr8G4A%2fjKIbu8PIG3CJRWYlDG5A4iRfZyn2NnuUk%3d&risl=&pid=ImgRaw&r=0">
        </a>
      </div>
    </div>
  </div>
 </div>
