* {
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
}

.mat-typography {
  background: whitesmoke;
}

html {
  background: #F3F2F7;
}

body {
  background: whitesmoke;
}

// HEADER-START
.header-container {
  max-width: 1440px;
}
// HEADER-END

.main {
  max-width: 1440px;
  margin-top: 70px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: 100%;
}
// BANNER-START
.banner-container {
  padding-inline: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 0px;
  width: 1340px;
  height: 235px;
}

.banner {
  display: flex;
  // float: left;
  border-radius: 1rem;
  height: auto;
  left: 70px;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  margin-top: 31px;
}
// BANNER-END
// WRAPPER-START
.body {
  background: #F3F2F7;
  height: 100%;
}

.container-buttons {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.service { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  width: 440px;
  height: 179px;
  background: rgb(238, 236, 236);
  flex-shrink: 0;
  flex-grow: 0;
  flex-direction: column;
  padding: 15px 12px;
  opacity: 1;
  cursor: pointer;
  color: rgb(225, 225, 225);
  border-radius: 16px;
  position: relative;
  
}

[aria-label='0'] {
  background-image: url('https://www.straus.md/nav-title-list/pizza-icon-for-restaurant.png') !important;
}

[aria-label='1'] {
  background-image: url('https://www.straus.md/nav-title-list/icon-for-shop.png') !important;
  background-size: 250px !important;
  background-repeat: no-repeat !important;
}

[aria-label='2'] {
  background-image: url('https://www.straus.md/nav-title-list/icon-for-courier-express.png') !important ;
  background-size: 250px !important;
  background-repeat: no-repeat !important;
}

.active-service {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
  color: rgb(225, 225, 225);
  opacity: 1;
  cursor: pointer;
  background: rgb(212, 42, 183);
  
  span {
    color: white;
  }
}

span {
  color: black;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  word-break: break-word;
}
// WRAPPER-END
// SLIDER-START
.slider-container {
  padding-top: 30px;
  padding-bottom: 25px;
  background: white;
  border-radius: 0rem 0rem 2rem 2rem;
}

.title-ctnr {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.title-dv {
  margin-left: 30px;
}

.title-h {
  font-size: 36px;
  line-height: 44px;
  padding-bottom: 20px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.component-container {
  width: 100%;
}
// SLIDER-END

.content-container {
  background: white;
  border-radius: 2rem 2rem 2rem 2rem;
}

// FOOTER-START
footer {
  margin-top: 75px;
  margin-bottom: 0px;
}
// FOOTER-END

