// Restaurants, Shops and Courier buttons

.service-buttons {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 89%;
  gap: 20px;
  padding: 10px;
  position: relative;
  background: #FFFFFF;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  
}

.service { 
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
  flex-grow: 0;
  flex-direction: column;
  padding: 15px 12px;
  width: 32%;
  border-radius: 16px;
  min-height: 100px;
  position: relative;
  color: rgb(225, 225, 225);
  opacity: 1;
  cursor: pointer;
  background: rgb(238, 236, 236);

}

.active-service {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
  flex-grow: 0;
  flex-direction: column;
  padding: 15px 12px;
  width: 32%;
  border-radius: 16px;
  min-height: 100px;
  position: relative;
  color: rgb(225, 225, 225);
  opacity: 1;
  cursor: pointer;
  background: rgb(212, 42, 183);
}

span {
  color: black;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  word-break: break-word;
}

// 