<mat-toolbar>
  <!-- Responsive view -->
  <mat-toolbar-row class="responsive" *ngIf="responsive">
    <button mat-icon-button id="menu-button" (click)="sidenav.toggle()">
      <mat-icon id="menu-icon">menu</mat-icon>
    </button>
    <div class="shopping-values">
      <div class="counter">{{ countProducts$ | async }}</div>
      <div class="total-price">{{ totalPrice$ | async | number: '1.2-2'}}</div>
    </div>
    <form class="search-form">
      <input type="search" id="search-input" placeholder="Search">
    </form>
    <mat-icon (click)="redirectByEventType('/')" id="logo-icon">fastfood</mat-icon>
  </mat-toolbar-row>
  <!-- Regular view -->
  <mat-toolbar-row class="regular" *ngIf="responsive === false">
    <img alt="logo" id="logo-image" src="assets/img/untitled.svg" 
    (click)="redirectByEventType('/')">
    <form class="search-form-reg">
      <input type="search" id="search-input-reg" placeholder="Search">
    </form>
    <button mat-button id="signin-button" (click)="redirectByEventType('login')">
      <span>Log In</span>
      <mat-icon>account_circle</mat-icon>      
    </button>
    <button mat-button id="cart-button">
      <span>Cart</span>
      <mat-icon>shopping_cart</mat-icon>      
    </button>
  </mat-toolbar-row>   
</mat-toolbar>
  <!-- Sidebar Menu -->
  <mat-sidenav-container class="sidenav-container" >
    <mat-sidenav #sidenav mode="over" position="end" fixedInViewport="fixed">
      <button mat-icon-button id="close-menu-button" (click)="sidenav.close()">
        <mat-icon id="close-icon">close</mat-icon>
      </button>
      <mat-nav-list>
        <h1 id="greet-nav">Hey there!</h1>
        <mat-list-item> 
          <mat-icon matListItemIcon>home</mat-icon>
          <span matLine (click)="redirectByEventType('/')">Home</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>account_circle</mat-icon>
          <span matLine>Account</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>shopping_cart</mat-icon>
          <span matLine>Cart</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>info</mat-icon>
          <span matLine>Info</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>login</mat-icon>
          <span matLine (click)="redirectByEventType('login')">Login</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <!-- <mat-sidenav-content>
      <div style="height: 40vh;">
        <div class="benner-container">
          <img class="banner" [src]="[componentsBanner]">
        </div>
      </div>
    </mat-sidenav-content> -->
  </mat-sidenav-container>



  
  