mat-toolbar .regular {
    color: rgb(255, 255, 255);
    background-color: white;
    height: 100px;

    .search-form-reg {
        position: relative;
        width: 40%;
        left: 740px;
        top: 5px;
    }
}

mat-toolbar .responsive {
    color: rgb(255, 255, 255);
    background-color: white;
    height: 145px;
    
    .search-form {
        position: relative;
        top: 40px;
        width: 100%;
    }

    #menu-button {
        position: absolute;
        right: 20px;
        top: 20px;
    }

    #menu-icon {
        transform: scale(1.7);
        color: black;
        background-color: rgb(225, 225, 225);
        border-radius: 7px;
    }
}



#logo-image {
    position: absolute;
    width: 300px;
    height: 150px;
}

mat-sidenav {
    width: 350px;
}

.regular {
    height: 140px;
}


#logo-icon {
    position: absolute;
    transform: scale(2);
    color: rgb(237, 42, 179);
    left: 20px;
    top: 25px
}

#close-menu-button {
    position: absolute;
    right: 0;
}

#greet-nav {
    text-indent: 20px;
    font-size: 28px;
    font-weight: 500;
    // top: 20px
}

#search-input {
    width: 100%;
    border-radius: 15px;
    height: 50px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") 
    no-repeat 13px center;
    padding: 9px 4px 9px 50px;
    font-size: large;
}

// Regular view



#search-input-reg {
    width: 55%;
    border-radius: 15px;
    height: 50px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") 
    no-repeat 13px center;
    padding: 9px 4px 9px 50px;
    font-size: large;
}

#signin-button {
    position: absolute;
    right: 55px;
    color: black;
    transform: scale(1.7);
}

#cart-button {
    position: absolute;
    right: 195px;
    color: black;
    transform: scale(1.7);
}




