:host {
  background-color: black;
}

.img-container {
  position: relative;
  height: 130px;
}

img {
  position: relative;
  height: 333px;
  top: -111px;
  left: -13px;
 
}

.container {
  position: relative;
  box-shadow: 0 0 40px 4px #111118;
  max-height: 100vh;
  border-radius: 5px;
  width: 365px;
  height: 300px;
  min-width: 365px;
  margin: 0 auto;
  padding: 20px;
  z-index: 1;
  top: 30%;
  background-color: whitesmoke;

}


.container > * {
  width: 100%;
}

mat-form-field {
  height: 65px;
  width: 300px;
}

input {
  width: 95%;
  // padding: 4px 15px;
  // margin: 8px 0;
  // margin-left: 30px;
  box-sizing: border-box;
  background: transparent;
  border: none;
  // border-bottom: solid 0.5px gray;
}

button {
  width: 150px;
}

.active {
  background: whitesmoke;
}
