<div class="container">
  <div class="context">
    <div class="logo-container">
      <img alt="product-logo" [src]='data.imageUrl'>
    </div>
    <div class="name">{{data.name}}</div>
    <div class="description">{{data.info}}</div>
    <ul>
      <li><input type="checkbox">Mustard</li>
      <li><input type="checkbox">Extra cheese</li>
      <li><input type="checkbox">Mushrooms</li>
    </ul>
  </div>
 
</div>
<footer>
  <div class="another">
    <button class="minus" (click)="Minus()">-</button>
    <span>{{productAmount}}</span>
    <button class="plus" (click)="plus()">+</button>
  </div>
  <div class="price">{{this.price}} MDL</div>
  <div class="button">
    <button class="add-button" (click)="buyProduct(data)">Add to cart</button>
  </div>
</footer>