<header class="headr">
  <mat-icon class="back" (click)="redirectBack()">arrow_circle_left</mat-icon>
  <h2>Your order</h2>
  <div *ngIf="!currentUser" class="login" (click)="redirectByEventType('/login')">
    <mat-icon class="login-ico">perm_identity</mat-icon>
    <p class="login-p">Login</p>
  </div>
  <div *ngIf="currentUser" class="login">
    <mat-icon class="account-ico">account_circle</mat-icon>
    <div class="current-user">{{currentUser}}</div>
  </div>
</header>
<div class="body">
  <!-- TODO: Empty Cart -->
  <ng-container *ngIf="(allProds$ | async)?.length > 0">
      <div class="item" *ngFor="let entry of (allProds$ | async)">
          <div class="product-img">
            <img src="{{entry.product.imageUrl}}" alt="img">
          </div>
          <p class="product-name">
            {{ entry.product.name }}
          </p>
          <span class="product-info">
            {{ entry.product.info }}
          </span>
          <button class="erase-product" (click)="removeProd(entry)">
            <mat-icon>delete</mat-icon>
          </button>
          <div class="counter">
            <button mat-button class="minus" (click)="removeSome(entry)">-</button>
            <span class="count">{{ entry.count }}</span>
            <button mat-button class="plus" (click)="addSome(entry)" >+</button>
          </div>
          <div class="product-price">
          </div>
      </div>
      <div class="cart-controls">
        <button mat-button (click)="clearCart()">Clear All</button>
      </div>
    <aside>
      <div class="details-container">
        <div class="sum-container">
          <div class="oder-summary">
            <h4>Order summary</h4>
          </div>
          <ul role="list" class="order-details">
            <li class="tot-prod">
              <span class="tot-sp">
                Total Products
              </span>
              <div class="tot-pay">
                <p class="tot-pay-p">{{totalPrice$ | async}} MDL</p>
              </div>
            </li>
            <li class="tot-prod">
              <span class="tot-sp">
                Delivery
              </span>
              <span>
                39 MDL
              </span>
            </li>
            <li class="tot-ordr">
              <span class="tot-ordr-sp">
                Total
              </span>
              <div class="tot-ordr-dv">
                <p>
                  {{finalPrice}} MDL
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <button mat-button class="next-step">Next</button>
    </aside>
  </ng-container>