.product {
  padding: 20px 0;
  background-color: white;
}

.slider-wrap {
  position: relative;
  overflow: hidden;
  height: 150px;
}

.slider-main {
  position: absolute;
  width: 200%;
}

.item {
  display: inline-block;
  cursor: pointer;
  min-width: 90px;
  width: 80px;
  height: 80px;
  background: transparent;
  position: relative;
  margin: 0 12px;
  border-radius: 200%;
}

.text {
  font-weight: 550;
  overflow: hidden;
  font-size: 14px;
  height: 24px;
  text-align: center;
  padding-inline: 3px;
  margin: 0;
  top: 55px;
  position: absolute;
}

.prev {
  position: absolute;
  left: 33px;
  top: 35%;
  transform: translate(-50%, -50%);
}

.next {
  position: absolute;
  right: 0;
  top: 35%;
  transform: translate(-50%, -50%);
}

// .image-container {
//   height: 70%;
//   width: 70%;
// }

img {
  height: 70%;
  width: 70%;
  max-width: 100%;
  display: block;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

// .type-image {
//   width: 100%;

// }