.product {
  padding: 20px 0;
}

.slider-wrap {
  position: relative;
  overflow: hidden;
  height: 150px;
}

.slider-main {
  position: absolute;
  width: 200%;
}

.item {
  display: inline-block;
  width: 200px;
  height: 300px;
  background: transparent;
  position: relative;
  margin: 0 12px;
}

.text {
  font-weight: 600;
  overflow: hidden;
  // top: 20%;
  // left: 30%;
  color: black;
  font-size: 16px;
  height: 24px;
  text-align: center;
  padding-inline: 3px;
}

.prev {
  position: absolute;
  left: 33px;
  top: 35%;
  transform: translate(-50%, -50%);
}

.next {
  position: absolute;
  right: 0;
  top: 35%;
  transform: translate(-50%, -50%);
}

.image-container {
  height: 100px;
  width: 100%;
}

// .type-image {
//   width: 100%;

// }