.product {
  padding: 20px 0;
}

.slider-wrap {
  position: relative;
  overflow: hidden;
  height: 150px;
}

.slider-main {
  position: absolute;
  width: 200%;
}

.item {
  display: inline-block;
  width: 500px;
  height: 300px;
  background: red;
  position: relative;
  margin: 0 12px;
}

.text {
  position: absolute;
  top: 20%;
  left: 30%;
  color: white;
  font-size: 19px;
}

.prev {
  position: absolute;
  left: 33px;
  top: 35%;
  transform: translate(-50%, -50%);
}

.next {
  position: absolute;
  right: 0;
  top: 35%;
  transform: translate(-50%, -50%);
}