<app-navbar-component></app-navbar-component>
<div class="body">
  <div class="container">
    <div class="items" *ngFor="let restaurant of outlets">
      <li class="item" *ngIf="restaurant.label.toLowerCase().includes(inputValue)
      || restaurant.foodTypeShortLabel.includes(inputValue)">
        <img class="image" alt="provider-img" [src]="restaurant.img" 
          (click)="redirectByEventType('restaurant', restaurant.outlet)">
            <div class="outlet-selector-label">{{restaurant.label}}
              <img class="logo" src="{{restaurant.logo}}">
            </div>
      </li>
    </div>
  </div>
</div>