<app-navbar-component></app-navbar-component>
<div class="wrapper">
  <div class="banner-container">
    <div class="banner" [ngStyle]="{'background-image': 'url(' + currentOutlet['img'] +')'}">
      <div class="descr-container">
        <div class="outlet-container">
          <div class="outlet">
            <div class="logo-container">
              <img class="logo" alt="logo" [src]="currentOutlet['logo'] ">
            </div>
            <div class="info-container">
              <div class="name">
                <h1>{{ currentOutlet['name'] }}</h1>
              </div>
              <div class="hours">
                <h4>{{ currentOutlet['hours'] }}</h4>
              </div>
              <div class="payment"></div>
            </div>
          </div>
      </div>
      <div class="info">
        
      </div>
    </div>
  </div>
  <div class="container">
    <ng-container *ngIf="menu_srv.length else emptyMenuContainer">
      <ng-container *ngFor="let food of menu_srv; let i = index">
        <div class="item" (click)="currentProduct = food; openDialog()">
          <img id="food-image" [src]="food.imageUrl" [alt]="food.name"/>
          <div class="conent">
            <div class="name">
              {{food.name}}
            </div>
            <div class="info">
              {{food.info}}
            </div>
            <button type="button" class="price">
              {{food.price}}
            </button>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #emptyMenuContainer>
      <p>No data available</p>
    </ng-template>
  </div>
</div>     
<footer>
  <app-cart-component></app-cart-component>
  <app-footer></app-footer>
</footer>
        
  

