.wrapper {
  background: whitesmoke;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin: 10px;
  
}

.item {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  cursor: pointer;
  border-radius: 16px;
  padding: 12px;
  position: relative;
  background: white;

}

#food-image {
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 0px;
  min-height: 140px;
  max-width: 100%;
  height: auto;
}

.content {
  margin-top: 0.5rem;
  margin-inline: 0px;
  margin-bottom: 0px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  flex: 1 1 0%;
}

.name {
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info {
  margin-top: 0px;
  margin-inline: 0px;
  margin-bottom: 12px !important;
}

button {
  display: inline-flex;
  appearance: none;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  width: 100%;
  line-height: 1.2;
  border-radius: 1rem;
  height: 46px;
  font-size: 18px;
  padding-inline: 32px;
  background: rgb(235, 236, 241);
  color: rgb(2, 2, 2);
}

.banner-container {
  position: relative;
  padding-top: 3px;
  margin-bottom: 60px;
}

.banner {
  display: flex;
  // width: 90%;
  // border-radius: 16px;
  // height: 270px;
  // position: relative;
  // top: 10%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  border-radius: 1rem;
  height: 225px;
  left: 17px;
  width: 95%;
  margin-bottom: 10px;
  background-image: url("https://straus.s3.amazonaws.com:443/media/CACHE/images/providers/722fc19537284f2ea458e5f608393e63/c74145cce0eb6aed4783df7b04ad3481.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  margin-top: 31px;
  
}
